.layout-main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3.5rem);
  // height: 100%;
  justify-content: space-between;
  padding: 6rem 1rem 0rem 4rem;
  transition: margin-left $transitionDuration;
  overflow: hidden;
}

.layout-main {
  flex: 1 1 auto;
  //set full screen fix no scroll;
  // height: calc(100vh - 154px);
}
